@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=PT+Serif:wght@700&family=Secular+One&display=swap');

#About{
    background-color: #140a3b;
    height: 100vh;
    box-sizing: border-box;
}
@media only screen and (max-width:500px){
    #About{
        height: 50rem;
        width: 600px;
    }
}
.line1 div{
    display: flex;
    position: absolute;
    height: 100vh;
    width: 15px;
    right: 20px;
    background-color: rgb(213, 20, 20);
}
.line1 div::before{
    content: '';
    position: absolute;
    height: 500px;
    width: 15px;
    background-color: #39FF14;
}
.line1 div::after{
    content: '';
    position: absolute;
    height: 250px;
    width: 15px;
    background-color: blue;
}
@media only screen and (max-width:500px){
    .line1 div{
        
        height: 0;
        width: 0;
        
       
    }
    .line1 div::before{
        
        height:0px;
        width: 0px;
        
    }
    .line1 div::after{
      
        height: 0px;
        width: 0px;
      
    }
}
.aboutheader{
    display: flexbox;
    position: absolute;
    height: 70px;
    width: 250px;
    background-color: aquamarine;
    right: 35px;
    top: 30px;
    text-align: center;
    font-size:40px;
    font-weight: 900;
    border-bottom-left-radius: 100px;
}
@media only screen and (max-width:500px){
    .aboutheader{
        right: 30%;
        border-radius: 100px;
        font-size:30px ;
        height: 50px;
    }
}

.content{
    display: flex;
    justify-content: center;
    top: 180px;
  
}

@media only screen and (max-width:500px){
    .content{
      display:contents;
      top: 0px;
    }  
}

#image{
    height: 300px;
    width: 300px;
    /* background-color: aqua; */
    background-image: url(image/myphoto.jpeg);
    background-size: cover;
    margin:40px 100px;
    border-radius: 50%;
    
    
}
#text{

    justify-items: center;
    height: 400px;
    width: 760px;
    /* background: black; */
    margin:0 20px;
    color: white;
    letter-spacing: 5px;

}

.wai{
    text-align: center;
    color: rgb(0, 251, 255);
    font-family: 'PT Serif', serif;
    font-size: 35px;
}


hr{
    width: 100px;
    left: 45vh;
    top: 10px;
} 

.ap{
    font-family: 'Secular One', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    /* text-align: center; */
    color: white;
    top: 30px;
    padding: 20px;
    line-height: 2;
}
@media only screen and (max-width:500px){
    #image{
        height: 200px;
        width: 200px;
        left: 100px;
        top: 15%;
    }
    #text{
        text-align: center;
        height: 800px;
        width: 600px;
        margin:150px 0 1px 0px;
    
    }
    hr{
        left: 0;
        width: 0;
        top: 0;
    }
    .ap{
        line-height: 1.5;
        font-weight: 0;
    }
}
#follow{
    width: 50%; 
    text-align: center; 
    border-bottom: 4px solid white; 
    left: 25%;
    line-height: 0.1em;
    margin: 40px 0 20px;
     
 } 

#follow span { 
     background: #140a3b;
     padding:0 10px;
    color: rgb(0, 251, 255);
 }
.social{
    position: absolute;
    border-radius: 100px;
    background-color:white;
    left: 36vh;
    margin: 20px 0;
}

#socialul{
    display: flex;
    
}
.social #socialul img{
    height: 40px;
} 

.social #socialul li{
    list-style: none;
    margin: 10px;
    
}
@media only screen and (max-width:500px){
    .social{
        left: 32vh;
        top: 42%;
    }   
    .social #socialul img{
        height: 20px;
    }   
    .social #socialul li{
        list-style: none;
        margin: 5px;
        
    }
 }
