@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#contact{
    /* background-color: rgb(14, 14, 14); */
    background-image: url(image/lambobg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    box-sizing: border-box;
}
body.whitetheme #contact{
    background-color: #132130;
}
@media only screen and (max-width:500px){
    #contact{
        height: 50rem;
        width: 600px;
    }
}
.line4 div{
        display: flex;
        position: absolute;
        height: 100vh;
        width: 15px;
        left: 20px;
        background-color: rgb(213, 20, 20);
    }
    body.whitetheme .line4 div{
        background-color: #0f254e;
    }
    .line4 div::before{
        content: '';
        position: absolute;
        height: 500px;
        width: 15px;
        background-color: #39FF14;
    }
    body.whitetheme .line4 div::before{
        background-color: #1d52ad;
      }
    .line4 div::after{
        content: '';
        position: absolute;
        height: 250px;
        width: 15px;
        background-color: blue;
    }
    body.whitetheme .line4 div::after{
        background-color: #279eff;
    }

    @media only screen and (max-width:500px){
        .line4 div{
            
            height: 0;
            width: 0;
            
           
        }
        .line4 div::before{
            
            height:0px;
            width: 0px;
            
        }
        .line4 div::after{
          
            height: 0px;
            width: 0px;
          
        }
    }
.contactheader{
        display: flexbox;
        position: absolute;
        height: 70px;
        width: 250px;
        background-color: aquamarine;
        left: 35px;
        top: 30px;
        text-align: center;
        font-size:40px;
        font-weight: 900;
        border-bottom-right-radius: 100px;
    }

body.whitetheme .contactheader{
        background-color: #16292b;
        color: white;
    }

    @media only screen and (max-width:500px){
        .contactheader{
            left: 35%;
            border-radius: 100px;
            font-size:30px ;
            height: 50px;
        }
      }

.contactbox{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content:start;
    padding:0 60px;
    align-items: center;
    min-height: 90vh;
}
.contactus{
    width: 70%;
    padding: 50px;
}
@media only screen and (max-width:500px){
    .contactus{
        padding: 100px;
        width: 50%;
    }
}
.contactus .row100{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.contactus .row100 .col{
    position: relative;
    width: 100%;
    padding: 0px 240px;
    margin: 40px 0 0px;
    transition: 0.5s;
}

.contactus .row100 .inputbox{
    position: relative;
    width: 95%;
    height: 40px;
    color: #08d8fd;
}
.contactus .row100 .inputbox input,
.contactus .row100 .inputbox.textarea textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background:transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: black;
    font-weight: 400;
}
.contactus .row100 .inputbox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: .5s;
    pointer-events: none;
}
.contactus .row100 .inputbox input:focus + .text,
.contactus .row100 .inputbox input:valid + .text{
    top: -35px;
    left: -10px;
}

.contactus .row100 .inputbox .line{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 2px;
    background: #08d8fd;
    transition: .5s;
    border-radius: 2px;

}

.contactus .row100 .inputbox input:focus ~ .line,
.contactus .row100 .inputbox input:valid ~ .line{
    height: 100%;
}

.contactus .row100 .inputbox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.contactus .row100 .inputbox.textarea textarea{
    height: 100%;
    resize: none;
}

.contactus .row100 .inputbox textarea:focus + .text,
.contactus .row100 .inputbox textarea:valid + .text{
    top: -35px;
    left: -10px;
}
.contactus .row100 .inputbox textarea:focus ~ .line,
.contactus .row100 .inputbox textarea:valid ~ .line{
    height: 100%;
}

button[type="submit"]
{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline:none;
    background: #08d8fd;
    font-size: 18px;
    border-radius: 2px;
}


