#contact{
    background-color: #00A8CC;
    height: 100vh;
    box-sizing: border-box;
}
.line4 div{
    display: flex;
    position: absolute;
        height: 100vh;
        width: 15px;
        left: 20px;
        background-color: rgb(213, 20, 20);
    }
    .line4 div::before{
        content: '';
        position: absolute;
        height: 500px;
        width: 15px;
        background-color: #39FF14;
    }
    .line4 div::after{
        content: '';
        position: absolute;
        height: 250px;
        width: 15px;
        background-color: blue;
    }
@media (max-width: 800px){
        .line4 div{
            
            height: 0;
            width: 0;
            
           
        }
        .line4 div::before{
            
            height:0px;
            width: 0px;
            
        }
        .line4 div::after{
          
            height: 0px;
            width: 0px;
          
        }
    }
.contactheader{
        display: flexbox;
        position: absolute;
        height: 70px;
        width: 250px;
        background-color: aquamarine;
        left: 35px;
        top: 30px;
        text-align: center;
        font-size:40px;
        font-weight: 900;
        border-bottom-right-radius: 100px;
    }
    @media (max-width: 900px){
        .contactheader{
            left: 35%;
            border-radius: 100px;
            font-size:30px ;
            height: 50px;
        }
      }