@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Roboto:wght@700&display=swap');

#devlopment{
    background-color: #140a3b;
    height: 100vh;
    box-sizing: border-box;
}
body.whitetheme #devlopment{
    background-color: #9ef8f8;
  }
@media only screen and (max-width:500px){
    #devlopment{
        height: 50rem;
        width: 600px;
    }
}
.line3 div{
    display: flex;
    position: absolute;
        height: 100vh;
        width: 15px;
        right: 20px;
        background-color: rgb(213, 20, 20);
    }
    body.whitetheme .line3 div{
        background-color: #0f254e;
    }
    .line3 div::before{
        content: '';
        position: absolute;
        height: 500px;
        width: 15px;
        background-color: #39FF14;
    }
    body.whitetheme .line3 div::before{
        background-color: #1d52ad;
      }
    .line3 div::after{
        content: '';
        position: absolute;
        height: 250px;
        width: 15px;
        background-color: blue;
    }
    body.whitetheme .line3 div::after{
        background-color: #279eff;
    }

    @media only screen and (max-width:500px){
        .line3 div{
            
            height: 0;
            width: 0;
            
           
        }
        .line3 div::before{
            
            height:0px;
            width: 0px;
            
        }
        .line3 div::after{
          
            height: 0px;
            width: 0px;
          
        }
    }
.devlopheader{
        display: flexbox;
        position: absolute;
        height: 70px;
        width: 250px;
        background-color: aquamarine;
        right: 35px;
        top: 30px;
        text-align: center;
        font-size:40px;
        font-weight: 900;
        border-bottom-left-radius: 100px;
    }

    body.whitetheme .devlopheader{
        background-color: #16292b;
        color: white;
    }

    @media only screen and (max-width:500px){
        .devlopheader{
            left: 35%;
            border-radius: 100px;
            font-size:30px ;
            height: 50px;
        }
      }

.project{
    top: 20%;
    
}
@media only screen and (max-width:500px){
    .project{
        top: 15%;
    }
}
.project #pro1{
    display: flex;
    position: absolute;
    height: 300px;
    width: 250px;
    left: 10%;
    background-image:url(image/loginpro.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px #5260e5;
}

.project #pro1::before{
    content: 'Sign in Page';
    position: absolute;
    height: 25px;
    width: 250px;
    background-color:#5260e5;
    bottom: 0;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
    font-size:large;
    padding: 20px 0px 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.project #pro2{
    display: flex;
    position: absolute;
    height: 300px;
    width: 250px;
    left: 35%;
    background-image:url(image/snakegame.jpg);
    background-position:center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px #5260e5;
}
@media only screen and (max-width:500px){
    .project #pro2{
        left: 27%;
        margin-top: 60%;
    }
    .project #pro1{
        left: 27%;
    }
}
.project #pro2::before{
    content: 'Snake Game';
    position: absolute;
    height: 25px;
    width: 250px;
    background-color:#5260e5;
    bottom: 0;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
    font-size:large;
    padding: 20px 0px 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
