#devlopment{
    background-color: #916BBF;
    height: 100vh;
    box-sizing: border-box;
}
@media only screen and (max-width:500px){
    #devlopment{
        height: 50rem;
        width: 600px;
    }
}
.line3 div{
    display: flex;
    position: absolute;
        height: 100vh;
        width: 15px;
        right: 20px;
        background-color: rgb(213, 20, 20);
    }
    .line3 div::before{
        content: '';
        position: absolute;
        height: 500px;
        width: 15px;
        background-color: #39FF14;
    }
    .line3 div::after{
        content: '';
        position: absolute;
        height: 250px;
        width: 15px;
        background-color: blue;
    }
    @media only screen and (max-width:500px){
        .line3 div{
            
            height: 0;
            width: 0;
            
           
        }
        .line3 div::before{
            
            height:0px;
            width: 0px;
            
        }
        .line3 div::after{
          
            height: 0px;
            width: 0px;
          
        }
    }
.devlopheader{
        display: flexbox;
        position: absolute;
        height: 70px;
        width: 250px;
        background-color: aquamarine;
        right: 35px;
        top: 30px;
        text-align: center;
        font-size:40px;
        font-weight: 900;
        border-bottom-left-radius: 100px;
    }
    @media only screen and (max-width:500px){
        .devlopheader{
            left: 35%;
            border-radius: 100px;
            font-size:30px ;
            height: 50px;
        }
      }
    #comingsoon{
     
        text-align: center;
        top: 35%;
        color: white;
        font-family: arial;
        font-size: 90px;
        line-height: 90px;
        letter-spacing: 15px;
        text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef,
          0 4px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 0.1);
   }
   
