@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Francois+One&family=Merriweather:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    position:relative;
}
*::selection{
    background: yellow;
}
html{
    scroll-behavior:smooth;
    /* overflow: hidden; */
   
}
html::-webkit-scrollbar{
     width: .7rem;
}
html::-webkit-scrollbar-track{
    background: blue;
}
html::-webkit-scrollbar-thumb{
    background: #FF4949;
}

#Home{
    background-color: #071124; 
    height: 100vh;
    box-sizing: border-box;
    
}
@media only screen and (max-width:500px){
    #Home{
        height: 50rem;
        width: 600px;
    }
}
nav{
    position: fixed;
    bottom: 30px;
    left: 28em;
    z-index: 1000;
}

nav::before{
    content: '';
    display: flex;
    position: relative;
    left: 50px;
    height: 3px;
    width: 600px;
    border-radius: 100px;
    background-color: red;
}
nav::after{
    content: '';
    display: flex;
    position: relative;
    left: 50px;
    height: 3px;
    width: 600px;
    border-radius: 100px;
    background-color: blue;
    
}
nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 50px;
}

nav ul li{
    
    list-style: none;
    float: left;
    background-color:#180855;
    text-align: center;
   
}

nav ul li a{
    display: block;
    text-align: center;
    padding: 10px 30px;
    color: red;
    border-radius: 100px;
    margin: 5px;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size:medium;
    font-family: 'DM Serif Text', serif;
}
nav ul li a:hover {
    background-color: #081234;
  }

@media only screen and (max-width:500px){
    nav{
        left: 0%;
        
    }
    
    nav::before{
        width: 100%;
        left: 10%;
    }
    nav::after{
        width: 100%;
        left: 10%;
    }
  
    nav ul{
        border-radius: 0;
        padding: 0px 40px 0px 40px;
        background: #134eb5;
        left: 50px;
    }  
    nav ul li{
        background-color: #134eb5;
        
    }
    nav ul li a{
        padding: 10px 10px;
        margin: 0px;
        font-weight: 20;
        letter-spacing: 0px;
        font-family: 'DM Serif Text', serif;
        color: rgb(255, 251, 0);
    }
    nav ul li a:hover {
        background-color:'';
    }
   
}

#Home .name{
    display: flexbox;
    top:25%;
    text-align: center;
    color: rgb(0, 140, 255);
    font-size: 100px;
}

#Home .name span{
    color: red;
}

#Home h2{
    display: flexbox;
    top:25%;
    text-align: center;
    color:rgb(255, 238, 0);
    margin-top: 20px;
    font-family: 'Merriweather', serif;
}

@media only screen and (max-width:500px) {
    #Home .name{
        top: 30%;
        font-size: 80px;
        right: 5px;
    }
    #Home h2{
        
        top:30%;
        right: 5px;
        color:rgb(255, 238, 0);
        
    }
}

.line div{
    display: flex;
    position: absolute;
    height: 100vh;
    width: 15px;
    left: 20px;
    background-color: rgb(213, 20, 20);
}

.line div::before{
    content: '';
    position: absolute;
    height: 500px;
    width: 15px;
    background-color: #39FF14;
}
.line div::after{
    content: '';
    position: absolute;
    height: 250px;
    width: 15px;
    background-color: blue;
}
@media only screen and (max-width:500px){
    .line div{
        height: 0;
        width: 0;
    }
    
    .line div::before{
        height: 0;
        width: 0;
       
    }
    .line div::after{
        height: 0;
        width: 0;
       
    }
}
.curveline1{
    display: flex;
    position: absolute;
    height: 10px;
    width: 100px;
    background-color: red;
    left: 29%;
    top: 97px;
    border-radius: 50px;
  }


  .curveline1::before{
    content: '';
    width: 10px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
  }
  
  .curveline2{
    display: flex;
    position: absolute;
    height: 10px;
    width: 100px;
    background-color: blue;
    right: 25%;
    bottom: 177px;
    border-radius: 50px;
  }
  
  .curveline2::before{
    content: '';
    display: flex;
    position: absolute;
    height: 100px;
    width: 10px;
    background-color: blue;
    right: -4%;
    bottom: 0px;
    border-radius: 50px;
  }

  @media only screen and (max-width:500px) {
    .curveline1{
        left: 30px;
        top: 15%;
    }
    .curveline2{
         right: 35px;
         bottom: 30%;
    }
}
/* ===========setting switch====== */


.setting{

    position: fixed;
    height: 40px;
    width: 40px;
    /* background-color: #39FF14; */
    display:flex;
    right: 60px;
    bottom: 37px;
    z-index: 2000;
  
}

.setting:hover{  
    animation: rock 2s;
}
@keyframes rock {
    100%{
        transform: rotate(-180deg);
    }
}



