#Skill{
    background-color: #221656;
    height: 100vh;
    box-sizing: border-box;
}
.line2 div{
display: flex;
position: absolute;
    height: 100vh;
    width: 15px;
    left: 20px;
    background-color: rgb(213, 20, 20);
}
.line2 div::before{
    content: '';
    position: absolute;
    height: 500px;
    width: 15px;
    background-color: #39FF14;
}
.line2 div::after{
    content: '';
    position: absolute;
    height: 250px;
    width: 15px;
    background-color: blue;
}
@media (max-width: 900px){
  .line2 div{
      
      height: 0;
      width: 0;
      
     
  }
  .line2 div::before{
      
      height:0px;
      width: 0px;
      
  }
  .line2 div::after{
    
      height: 0px;
      width: 0px;
    
  }
}
.skillheader{
    display: flexbox;
    position: absolute;
    height: 70px;
    width: 250px;
    background-color: aquamarine;
    left: 35px;
    top: 30px;
    text-align: center;
    font-size:40px;
    font-weight: 900;
    border-bottom-right-radius: 100px;
}
@media (max-width: 900px){
  .skillheader{
      left: 35%;
      border-radius: 100px;
      font-size:30px ;
      height: 50px;
  }
}
.curveline3{
  display: block;
  position: absolute;
  height: 10px;
  width: 100px;
  background-color: red;
  left: 26%;
  top: 97px;
  border-radius: 50px;
}

.curveline3::before{
  content: '';
  display: block;
  width: 10px;
  height: 100px;
  background-color: red;
  border-radius: 50px;
}

.curveline4{
  display:block;
  position: absolute;
  height: 10px;
  width: 100px;
  background-color: blue;
  right: 19.5%;
  bottom: 177px;
  border-radius: 50px;
}

.curveline4::before{
  content: '';
  display: block;
  position: absolute;
  height: 100px;
  width: 10px;
  background-color: blue;
  right: -4%;
  bottom: 0px;
  border-radius: 50px;
}
@media (max-width: 900px){
  .curveline3{
    height: 0;
    width: 0;
  }
  .curveline3::before{
    height: 0;
    width: 0;
  }
  .curveline4{
  height: 0;
  width: 0;
  }
  .curveline4::before{
    height: 0;
    width: 0;
  }
}
/* ================================ card css ================================*/


.card {
    background-color: blue;
    width: 800px;
    height: 400px;
    border-radius: 10px;
    perspective: 1500;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    display: flex;
    align-items: center;
    left: 27%;
    top: 16%;
    flex-direction: column;
    transform-style: preserve-3d;
    border: 2px solid blue;
  }
  @media (max-width: 900px){
    .card{
      width: 400px;
      top: 30%;
    }
  }
  .logo {
    display: flex;
    position: absolute;
    top:66%;
    left: 15%;
    z-index: 1;
  }
  
    
  .logo1{
    margin: 0 18px;
  }
  .logo2{
    margin: 0 17px;
  }
  .logo3{
    margin: 0 18px;
  }
  .logo4{
    margin: 0 17px;
  }
  .logo5{
    margin: 0 17px;
  }
  .logo6{
    margin: 0 17px;
  }
  .logo7{
    margin: 0 18px;
  }
  .logo img{
    height: 45px;
    width: 45px;
    
  }
  @media (max-width: 900px){
    .logo {
      display: flex;
      position: absolute;
      top:66%;
      left: 7.5%;
      z-index: 1;
    }
    
      
    .logo1{
      margin: 0 9px;
    }
    .logo2{
      margin: 0 8.5px;
    }
    .logo3{
      margin: 0 9px;
    }
    .logo4{
      margin: 0 8.5px;
    }
    .logo5{
      margin: 0 8.5px;
    }
    .logo6{
      margin: 0 8.5px;
    }
    .logo7{
      margin: 0 9px;
    }
    .logo img{
      height: 30px;
      width: 30px;
      
    }
  }
  
  .card h2{
    transform: translateZ(2px);
    color: rgb(43, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0;
    font-weight: 700;
    padding: 60px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .card h2 {
    margin: 30px;
  }
  
  .card .chart {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: translateZ(2px);
    transition: transform 0.5s ease-in-out;
  }
  .card .photo {
    position: absolute;
    transform: translateZ(1px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background:#1C0C5B; */
    background-image: url(image/cardbg.jpg);
    background-size: cover;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
  }
  .card .photo:after {
    position: absolute;
    content: " ";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.395);
    transition: background-color 0.5s ease-in-out;
  
  }
  .card .bar {
    will-change: height;
    width: 50px;
    height: 50px;
    transform: translateX(-7.5px) rotateX(-90deg) rotateY(-45deg);
    transform-origin: 100% 100%;
    transition: height 0.5s ease-in-out, margin 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    margin: 15px;
    position: relative;
    background: linear-gradient(to bottom, aquamarine 0%, aquamarine 0%, aquamarine 100%);
    z-index: 2;
  }
  @media (max-width: 900px){
    .card .bar{
      margin: 12px;
      width: 25px;
      height: 25px;
    }
  }
  .card .bar::after {
    display: block;
    content: "";
    height: 100%;
    width: 15px;
    position: absolute;
    top: 0;
    right: -15px;
    transform: rotateY(90deg);
    transform-origin: 0% 50%;
    background: linear-gradient(to bottom, red 0%, #85d7f7 0%, red 100%);
  } 
  
  .card .bar.bar1:before{
    content: "";
  }
  .card .bar.bar2:before {
    content: "";
  }
  .card .bar.bar3:before {
    content: "";
  }
  .card .bar.bar4:before {
    content: "";
  }
  .card .bar.bar5:before {
    content: "";
  }
  .card .bar.bar6:before {
    content: "";
  }
  .card .bar.bar7:before {
    content: "";
  }
  
  .card .bar span {
    font-family: 'Merriweather', serif;
    position: absolute;
    transform: rotateZ(-90deg);
    border-radius: 10px;
    transform-origin: 0% 100%;
    bottom: 15px;
    white-space: nowrap;
    text-align: right;
    left: 30px;
    color: black;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  @media (max-width: 900px){
    .card .bar span {
      font-size:0px ;
    }
  }
  .details .card {
    transform: rotateX(60deg) translateY(150px);
    box-shadow: 0px 30px 40px 0px rgba(0, 0, 0, 0.75);
  }
  .details .card .chart {
    transform: translateZ(40px) translatey(50px);
  }
  .details .card .bar {
    transform: translateX(-7.5px) rotateX(-90deg) rotateY(-25deg);
  }
  
  .details .card .bar.bar1 {
    height: 200px;
    transition-delay: 0.3s;
    margin-top: -200px;
  }
  .details .card .bar.bar2 {
    height: 190px;
    transition-delay: 0.2s;
    margin-top: -190px;
  }
  .details .card .bar.bar3 {
    height: 40px;
    transition-delay: 0.1s;
    margin-top: -40px;
  }
  .details .card .bar.bar4 {
    height: 100px;
    transition-delay: 0s;
    margin-top: -100px;
  }
  .details .card .bar.bar5 {
    height: 90px;
    transition-delay: 0.1s;
    margin-top: -90px;
  }
  .details .card .bar.bar6 {
    height: 180px;
    transition-delay: 0.2s;
    margin-top: -180px;
  }
  .details .card .bar.bar7 {
    height: 130px;
    transition-delay: 0.3s;
    margin-top: -130px;
  }
  .details .card .bar span {
    opacity: 1;
    transition-delay: 0.3s;
  }
  
  .details .card .photo {
    transform: translateZ(20px);
  }
  .details .card h2 {
    opacity: 0;
    transform: translateZ(40px) translateY(-100px);
  }
  
  
  